<p id="notice"><%= notice %></p>
<div class="container text-center">
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  | <%= link_to 'Back', tasks_path , class: "btn btn-danger"%>
</div>